#popup-menu{

	height: 190px;
	width: 140px;
	background: #424242;
	position: absolute;
	right:4px; top: 40px;
	/* 保持在上边 */
	z-index: 1;
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	
}
#small-triangle{
	
	background: #424242;
	position: absolute;
	height: 20px;
	width: 20px;
	right: 8px; top: 35px;
	transform: rotate(45deg);
	
	
}


/* 弹出层  */
.pupup-menu-content{
	
	width: 90%;
	border-bottom: 1px solid #616161;
	display: flex;
	flex-flow: row nowrap;

	padding: 6px 0px 6px 0px ;
	
}

/* 最后一个弹出层 去掉底部 边框  */
.pupup-menu-content:last-child{
	border-bottom: none;
}


.pupup-menu-content div{
	padding: 0px 10px 0px 10px;
}

.pupup-menu-content div:nth-child(2){
	display: flex;
	align-items: center;
}

.pupup-menu-content-icon img{
	height: 22px;
	width: 22px;
}
