#popup-menu{

	height: 200px;
	width: 160px;
	background: #212121;
	
	position: absolute;
	right:4px; top: 40px;
	
	visibility: hidden;
	
}
#small-triangle{
	background: #212121;
	position: absolute;
	height: 20px;
	width: 20px;
	right: 8px; top: 35px;
	transform: rotate(45deg);

	visibility: hidden;
	
}

.hidden{
	visibility: hidden;
}

.visible{
	visibility: visible;
}
