#header {
	background-image: linear-gradient(to bottom, #212121, #616161);
	min-height: 30px;
	text-align: center;
	
	
	
	display: flex;
	flex-flow: row nowrap;
	justify-content:space-between;
	
	
	
}




.header-font {
	color: white;
	line-height: 30px;
	font-weight: 700;
}



#header-control{
	
	width: 33%;
	
	padding-left: 6px;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content:flex-start;
	align-items: center;
	font-weight: 700;
	
	
}

#header-control div:nth-child(1) {
	height:18px; width: 18px;
	background: url(../img/icon/material/返回.svg) no-repeat;
	background-size: contain;
	
}


#msg {
	width: 34%;
	line-height: 30px;
	font-weight: 700;
	
}

/* 加号层 */
#function {
	width: 33%;
	
	/*  */
	position: relative;
	display: flex;
	flex-flow: row ;
	justify-content: flex-end;
	align-items: center;
	padding-right: 8px;
	
}

/* 加号  */
#add {
	height: 22px;width: 22px;
	
	background: url(../img/icon/material/加号.svg) no-repeat;
	background-size: contain;


}

