
/*  手机最顶端模块的布局 */
#phone-title {
	display: flex;
	justify-content: space-between;
	height: 40px;
	background: #212121;
	color: white;
	font-size: 12px;
}

/*  手机最顶端模块的布局 ： 的左侧 */
#phone-title-left{
	
	width: 33%;

	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	
	
}
/* 有信号 */
.signal {
	height: 7px;
	width: 7px;
	border-radius: 50%;
	border: 1px white solid;
	background-color: white;
	margin: 1px;
}

/* 没信号 */
.no-signal {
	height: 7px;
	width: 7px;
	border-radius: 50%;
	border: 1px white solid;
	margin: 2px;
}


/*  手机最顶端模块的布局 ： 的中间 */
#phone-title-center{
	
	width: 34%;

	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center; /*  纵向布局  */
	
}

/*  手机最顶端模块的布局 ： 的右侧   这里放电池 和 电量百分比*/
#phone-title-right{
	
	width: 33%;

	display: flex;
	flex-flow: row;
	justify-content: flex-end;  
	align-items: center;  /* 纵向布局 */
}

/* 电池主体 */
#phone-title-right div:nth-child(2) {
	border: 1px white solid;
	height: 11px;
	width: 30px;
	margin-left: 4px;
}

/* 电池里面的电量 */
#phone-title-right div:nth-child(2) div {
	
	height: 9px;
	width: 25px;
	background-color: #76ff03;
}

/* 电池的正极 */
#phone-title-right div:nth-child(3) {
	background: white;
	height: 7px;
	width: 2px;
	margin-right: 6px;
}

