#wrap-chat {
				/*background: #ADD8E6;*/
				height: 100%;
				flex-grow: 1;
				overflow-y: scroll;
}


#search {
	height: 40px;
	/*background-color: #008B8B;*/
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid gainsboro;
	box-shadow: 0px 0px 2px ghostwhite;
}

#search input {

	height: 26px;
	width: 99%;
	border: 1px solid gainsboro;
	box-shadow: 0px 0px 10px gainsboro inset;
	/* ALT+/ 可以具有自动完成功能   */
	background: url(../img/icon/control/搜索.svg) no-repeat;
	background-size: contain;
	background-position: center;
	
}

#search input:focus {
	background: none;
}



/* 消息列表的大层 */
#lists {

	display: flex;
	flex-flow: column;
	overflow-y: scroll;
	width: 100%;
	margin: 0 auto;
	


}


/* 每个消息 */
.content {
	height: 64px;
	background-color:#FAFAFA;
	border-bottom: 1px gainsboro solid;
	padding: 0px 4px 0px 4px;
	
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	
}

.content-left {
	height: 52px; width: 52px;
	
	
}
.content-left img{
	height: 52px; width: 52px;
	border-radius: 6px;
}

.content-center {
	height: 52px; flex-grow: 1;
	padding-left: 8px;
	display: flex;
	flex-flow: column;
	justify-content: space-around;

	
	
}
.username {
	width: 100%; height: 24px;
	font-size:16px;
	color: #424242;
}
.text {
	width: 100%; height: 20px;
	font-size:14px;
	color: #9e9e9e;
}

.text-radio {
	width: 100%; height: 20px;
	font-size:14px;
	color: #bf360c;
}


.content-right {
	
	height: 52px; width:60px;
	font-size:10px;
	text-align: right;
	color: #9e9e9e;
}


.new-msg{
	height: 14px; width: 14px;
	border-radius: 50%;
	background-color: red;
	font-family: "微软雅黑";
	font-weight: 600;
	font-size: 10px;
	color: white;
	line-height: 14px;
	text-align: center;
	
	position: relative;
	top: -55px; left: 45px;
}

			
